<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button (click)="pesquisarPorEmail()">Pesquisar</button>
</div>

<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button (click)="deletarPorEMail()">Deletar</button>
</div>
