<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button (click)="pesquisarPorEmail()">Pesquisar</button>
</div>
<div *ngIf="resultadoPesquisa">
  <p>Nome: {{ resultadoPesquisa.firstname }}</p>
  <p>ID: {{ resultadoPesquisa.id }}</p>
   <p>Sobrenome: {{ resultadoPesquisa.lastName }}</p>
  <p>Email: {{ resultadoPesquisa.email }}</p>
</div>





<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button (click)="cadastraPorEmail()">Cadastrar</button>
</div>
