/* Estilos para os campos de entrada */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 300px;
}

input[type="text"]:focus {
  border-color: #2980b9;
}

/* Estilos para o botão de pesquisa */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}
