<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button (click)="pesquisarPorEmail()">Pesquisar</button>
</div>
  <div class="result-details">
    <div class="novadiv" *ngIf="resultadoPesquisa">
      <div *ngIf="firstname" class="highlight">
        <p>Nome: {{ firstname }}</p>
      </div>
    <p>ID: {{ resultadoPesquisa.id }}</p>
    <p>Sobrenome: {{ resultadoPesquisa.lastName }}</p>
    <p>Email: {{ resultadoPesquisa.email }}</p>
  </div>
</div>





<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button class="deletar"(click)="deletarPorEMail()">Deletar</button>
</div>

<div class="search-container">
  <input type="text" placeholder="nome" [(ngModel)]="firstname">
  <input type="text" placeholder="sobrenome" [(ngModel)]="lastName">
  <input type="text" placeholder="email" [(ngModel)]="email">
  <button style="background-color: #2ecc71; color: white;" (click)="cadastraPorEmail()">Cadastrar</button>
</div>
